# Dependencies
node_modules/
*.log

# Environment variables
.env
local.settings.json

# IDE/OS files
.vscode/
.idea/
.DS_Store

docs/url-shortener.pdf:Zone.Identifier

# Go Binaries
server
server.exe
*.exe
*.test
docs/url-shortener.pdfZone.Identifier
